# Sample .env file
# This files contains all environment variables used by this application
# with sample values when possible.
# ---
# The application does not read from this file. Create a .env file on repository root directory
# and use this file only as a reference.
# ---

PROMOTIONS=./data/promotions.csv
PROMOTIONS_CMDS=./data/promotions_commands.txt
REDIS_ADDR=localhost:6379
